<mat-card class="mat-elevation-z4">
  <h2>Enter the city and country</h2>
  <form [formGroup]="formGroup">
    <mat-form-field>
      <input matInput placeholder="Country" formControlName="country">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="City" formControlName="city">
    </mat-form-field>
  </form>
  <div mat-dialog-actions align="end">
    <!--  If country and city are empty, disable the button -->
    <button mat-raised-button
    (click)="searchWeather()"
    color="primary"
    [disabled]="!formGroup.valid">
      Search
    </button>
</div>
</mat-card>
